/* Kpi_card.css */

.kpi-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border:1px solid black;
  height: 100px;
  gap: 20px;
  padding: 10px;
  background-color: white;
  
}
.label-text{
-webkit-text-fill-color: white;
font-weight: 600;
}
.kpi-card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Two columns with equal width */
  padding:10px;
  gap: 20px;


}

.kpi-item {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.kpi-card-container_new {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.date-picker-container {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
}

.date-picker-container label {
  margin-bottom: 5px;
}

.date-picker-container input[type="datetime-local"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: 14px;
}
.datepicker_child{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.btnstyle{
  width: 50px;
  text-align: center;
 background-color: blue;
 -webkit-text-fill-color:white;
 padding: 4px;
 


}
.btnParentReset{
  display: flex;
  justify-content: end;
  padding: 34px 8px 8px 8px;
}
.btnParent{
 padding: 34px 8px 8px 8px;
}
/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .kpi-card-container {
    align-items: center;
  }

  .date-picker-container input[type="datetime-local"] {
    width: 100%;
  }
}

